/* ===== GLOBAL ===== */

html {
  --primary: #000;
  --secondary: #000;
  --accent: #000;

  --light-bg: #fff;
  --med-bg: #fff;

  --dark-neutral: #000;
  --mid-neutral: #ccc;
  --light-neutral: #ccc;
  --white: #fff;

  /* Spacing & font size scale */
  --d-xxs: 8px;
  --m-xxs: 4px;

  --d-xs: 14px;
  --m-xs: 8px;

  --d-s: 16px;
  --m-s: 12px;

  --d-m: 24px;
  --m-m: 16px;

  --d-l: 32px;
  --m-l: 24px;

  --d-xl: 48px;
  --m-xl: 32px;

  --d-xxl: 60px;
  --m-xxl: 48px;

  --d-square: 72px;

  /* Animation speeds */
  --x-speed: 13s;
  --y-speed: 7s;
}

.colored {
  filter: none;
  opacity: 100%;
}

.muted {
  filter: grayscale(100%);
  opacity: 50%;
}

section {
  padding: var(--d-m);
  min-height: calc(100vh - var(--d-xxl));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid {
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--d-square));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
  grid-auto-flow: dense;
  align-items: start;
  justify-content: center;
  padding: var(--d-xs) 0;
}

.skill {
  position: relative;
}

.skill figure {
  height: 100%;
  padding: 0;
  margin: 0;
}

.skill figure img {
  width: var(--d-square);
  object-fit: cover;
}

.grid > .skill:hover > .resource {
  visibility: visible;
}

.grid > .skill > .resource {
  visibility: hidden;
  background-color: var(--white);
  color: var(--dark-neutral);
  border: 1.5px solid var(--dark-neutral);
  padding: var(--d-xs);
  width: 200px;
  height: fit-content;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-20%);

  z-index: 5;
}
